html{
  font-size: 16px;
}
body{
  color: #9f217c;
}
/*div{
  border: 1px solid black;
}*/

.lato{
	font-family: 'Lato', sans-serif;
}
.merri{
	font-family: 'Merriweather', cursive;
}
.source {
  font-family: 'Source Sans Pro',serif;
}
.caveat{
  font-family: 'Caveat';
}
.content{
  display: flex;

}
.first-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 50%;
  min-width: 45%;
  max-height: 100%;
  min-height: 50%;

}
.img-content{
  display: inline-flex;
  flex-wrap: wrap;
  background-image: url("../images/logo.png");
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
  height: 35%;
  padding: 0 25% 0;
  margin-top: 8%;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}

.text-content{
  text-align: center;
}
h1{
  font-size: 3.25rem;
  text-align: center;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}
  span{
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}
.second-column {
  display: flex;

  font-size: .9rem;
  margin-left: 9.89%;
  border-radius: 4px;
  background-color: hotpink;
  padding-bottom: 4.75%;
  flex-direction: column;
  justify-content:flex-start;
  align-content: center;


}



.second-column h3{
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
}

fieldset{
  border-color: #dd4c95;
  border-radius: 4px;
  width: 100%;
}

input[type=text]{
  border-radius: 4px;
  border-color: #dd4c95;
  text-transform: capitalize;
  font-size: 2rem;
  flex-grow: 1;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding: 85px auto 2px 0;

}

input[type=text]:focus {
    border: 1px solid #dd4c95;
    border-radius: 4px;
}

textarea:focus{
  border: 1px solid #dd4c95;
  border-radius: 4px;
}

textarea{
  border-radius: 4px;
  border-color: #dd4c95;
   box-sizing: border-box;
   resize: none;
   margin-top: 10px;
   width: 98%;
   margin-left: 1.5%;
   margin-right: 3%;
}


.second-column label{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 3% 0 3% 2%;
}

.button{
  font-size: 1.15rem;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
  background-color: #dd4c95;
  color: white;
  text-align: center;
  margin-top: 15px;
  border-style: groove;

}
