html{
  font-size: 16px;
}
body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 overflow:hidden;
  /*color: #9f217c;*/
  color: black;
}
/*div{
  border: 1px solid black;
}*/

.kalam{
  font-family: 'Kalam';
}

.lato{
	font-family: 'Lato', sans-serif;
}
.merri{
	font-family: 'Merriweather', cursive;
}
.source {
  font-family: 'Source Sans Pro',serif;
}
.caveat{
  font-family: 'Caveat';
}
.content{
  display: flex;
  max-height: 1024px;
  min-height: 700px

}
.first-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 200%;
}
img{
  height: 200px;
  width: 225px;
  margin-top: 50px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #66CDAA;
  opacity: 0.7;
  margin: 0 18% 25% 18%;
}
.box h2{
  font-size: 2.125rem;
}
.box span{
  display: flex;
  justify-content: flex-end;
  font-size: 1.45rem;
  text-align: center;
}
h1{
  font-size: 2.8rem;
  text-align: justify;
  word-wrap: normal;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2%;
}
  span{
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.second-column {
  display: flex;
  border-radius: 4px;
  background-color: hotpink;
  flex-direction: column;
  align-content: center;
  padding-bottom: 1.12%;
  margin-top: 3%;
  width: 30%;
  height: 70%;
}

.second-column h3{
  text-align: center;
  font-size: 2rem;
}

input[type=text]{
  border-radius: 4px;
  border-color: #dd4c95;
  font-size: 2rem;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding: 5px auto 2px 0;

}

input[type=text]:focus {
    border: 2px solid #dd4c95;
    border-radius: 4px;
}

textarea:focus{
  border: 1px solid #dd4c95;
  border-radius: 4px;
}

textarea{
  border-radius: 4px;
  border-color: #dd4c95;
   box-sizing: border-box;
   resize: none;
   margin-left: 1.5%;
   margin-right: 1.5%;
}


.second-column label{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 1% 0 2% 2%;
}

.button{
  font-size: 2rem;
  font-weight: bold;
  background-color: #dd4c95;
  text-align: center;
  border-style: groove;
  border-radius: 4px;
  margin: 3% 1.5% 0 1.5%;
}

@media screen and (max-width: 601px) {
  .content{
      display:flex;
      flex-direction:column;
      align-items:center;
    }

  body{
    overflow: scroll;
    background-size: cover;
  }
  .first-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    width: 100%;
  }
  img{
    width:200px;
    height:150px;
    padding-top: 120px;
  }

  h1{

    font-size: 1.99rem;
    text-align: center;
    margin-top: 100px;
  }
  span{
    font-size: 1.29rem;

  }
  .box{
    display: none;
  }

  .second-column{
  width: 100%;
  height: 768.8px;
  margin-top: 130px;
  }
  .second-column h3{
    font-size: 1.3rem;
  }
  input[type=text]{
    border-radius: 4px;
    border-color: #dd4c95;
    font-size: 1.125rem;
    width: auto;
  }
  .second-column label{
    font-size: 1.125rem;
    font-weight: bold;
    text-align: left;

  }

}
